.vertical-card-list {
  .header {
    width: 100%;
    height: 70px;
    background-color: white;
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
    line-height: 70px;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
  }

  .content-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;

    .vertical-card {
      margin-bottom: 20px;
    }
  }

  @media (max-width: 425px) {
    .content-wrapper {
      grid-template-columns: 1fr;
    }
  }
}
